# Practice notebook for confidence intervals using NHANES data

This notebook will give you the opportunity to practice working with confidence intervals using the NHANES data.

You can enter your code into the cells that say "enter your code here", and you can type responses to the questions into the cells that say "Type Markdown and Latex".

Note that most of the code that you will need to write below is very similar to code that appears in the case study notebook.  You will need to edit code from that notebook in small ways to adapt it to the prompts below.

To get started, we will use the same module imports and read the data in the same way as we did in the case study:

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm

da = pd.read_csv("nhanes_2015_2016.csv")

In [2]:
da

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730,93695,2.0,2.0,NaN,1,2,76,3,1.0,3.0,...,112.0,46.0,59.1,165.8,21.5,38.2,37.0,29.5,95.0,2.0
5731,93696,2.0,2.0,NaN,2,1,26,3,1.0,5.0,...,116.0,76.0,112.1,182.2,33.8,43.4,41.8,42.3,110.2,2.0
5732,93697,1.0,NaN,1.0,1,2,80,3,1.0,4.0,...,146.0,58.0,71.7,152.2,31.0,31.3,37.5,28.8,NaN,2.0
5733,93700,NaN,NaN,NaN,1,1,35,3,2.0,1.0,...,106.0,66.0,78.2,173.3,26.0,40.3,37.5,30.6,98.9,2.0
5734,93702,1.0,NaN,2.0,2,2,24,3,1.0,5.0,...,114.0,68.0,58.3,165.0,21.4,38.2,33.5,26.2,72.5,2.0

## Question 1

Restrict the sample to women between 35 and 50, then use the marital status variable [DMDMARTL](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.htm#DMDMARTL) to partition this sample into two groups - women who are currently married, and women who are not currently married.  Within each of these groups, calculate the proportion of women who have completed college.  Calculate 95% confidence intervals for each of these proportions.

In [3]:
dw = da.loc[(da['RIDAGEYR'] > 35) & (da['RIDAGEYR'] < 50)&(da['RIAGENDR'] == 2)]
dw

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0
34,83799,NaN,NaN,NaN,2,2,37,2,1.0,4.0,...,110.0,72.0,66.6,161.6,25.5,NaN,NaN,NaN,NaN,2.0
50,83828,1.0,NaN,2.0,2,2,39,1,2.0,3.0,...,100.0,62.0,71.3,162.0,27.2,36.8,34.6,29.1,94.6,NaN
55,83837,2.0,2.0,NaN,2,2,45,1,1.0,2.0,...,114.0,68.0,77.5,148.3,35.2,30.5,34.0,34.4,107.6,2.0
58,83845,1.0,NaN,NaN,1,2,44,4,1.0,1.0,...,116.0,78.0,133.3,171.5,45.3,37.3,35.7,48.7,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5627,93516,NaN,NaN,NaN,2,2,43,2,1.0,4.0,...,124.0,78.0,82.7,165.3,30.3,38.8,38.8,32.2,102.2,NaN
5658,93568,1.0,NaN,1.0,1,2,46,3,1.0,2.0,...,128.0,84.0,85.5,152.4,36.8,26.0,33.5,34.7,116.5,2.0
5685,93612,2.0,2.0,NaN,2,2,36,5,1.0,5.0,...,112.0,74.0,65.7,162.4,24.9,37.2,36.0,29.8,89.0,2.0
5689,93619,NaN,NaN,NaN,2,2,44,5,2.0,2.0,...,118.0,78.0,51.9,149.3,23.3,31.9,32.0,26.2,81.4,1.0
5724,93682,NaN,NaN,NaN,2,2,41,5,1.0,5.0,...,122.0,84.0,58.2,166.9,20.9,37.1,35.3,26.9,80.8,2.0

In [4]:
dw["Marital"] = dw.DMDMARTL.replace({1: "Married", 2: "Not_Married", 3: 'Not_Married', 4: 'Not_Married', 5: 'Not_Married', 6 : 'Not_Married',77 : 'Not_Married', 99 : np.nan})  # np.nan represents a missing value
dw["Education"] = dw.DMDEDUC2.replace({1: "No_College", 2: "No_College", 3 : 'No_College' , 4: 'No_College' , 5:'College', 7 : 'No_College', 9 : np.nan })

<ipython-input-4-f5e9308a94f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dw["Marital"] = dw.DMDMARTL.replace({1: "Married", 2: "Not_Married", 3: 'Not_Married', 4: 'Not_Married', 5: 'Not_Married', 6 : 'Not_Married',77 : 'Not_Married', 99 : np.nan})  # np.nan represents a missing value
<ipython-input-4-f5e9308a94f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dw["Education"] = dw.DMDEDUC2.replace({1: "No_College", 2: "No_College", 3 : 'No_College' , 4: 'No_College' , 5:'College', 7 : 'No_College', 9 : np.nan })

In [5]:
dw

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210,Marital,Education
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0,Not_Married,No_College
34,83799,NaN,NaN,NaN,2,2,37,2,1.0,4.0,...,66.6,161.6,25.5,NaN,NaN,NaN,NaN,2.0,Married,No_College
50,83828,1.0,NaN,2.0,2,2,39,1,2.0,3.0,...,71.3,162.0,27.2,36.8,34.6,29.1,94.6,NaN,Married,No_College
55,83837,2.0,2.0,NaN,2,2,45,1,1.0,2.0,...,77.5,148.3,35.2,30.5,34.0,34.4,107.6,2.0,Married,No_College
58,83845,1.0,NaN,NaN,1,2,44,4,1.0,1.0,...,133.3,171.5,45.3,37.3,35.7,48.7,NaN,2.0,Not_Married,No_College
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5627,93516,NaN,NaN,NaN,2,2,43,2,1.0,4.0,...,82.7,165.3,30.3,38.8,38.8,32.2,102.2,NaN,Married,No_College
5658,93568,1.0,NaN,1.0,1,2,46,3,1.0,2.0,...,85.5,152.4,36.8,26.0,33.5,34.7,116.5,2.0,Not_Married,No_College
5685,93612,2.0,2.0,NaN,2,2,36,5,1.0,5.0,...,65.7,162.4,24.9,37.2,36.0,29.8,89.0,2.0,Married,College
5689,93619,NaN,NaN,NaN,2,2,44,5,2.0,2.0,...,51.9,149.3,23.3,31.9,32.0,26.2,81.4,1.0,Married,No_College
5724,93682,NaN,NaN,NaN,2,2,41,5,1.0,5.0,...,58.2,166.9,20.9,37.1,35.3,26.9,80.8,2.0,Married,College

In [6]:
dw = dw[['Marital','Education']].dropna() #dropna drops cases where either variable is missing

pd.crosstab(dw.Education,dw.Marital)

Marital     Married  Not_Married
Education
College         148           63
No_College      244          243

In [7]:
# Married
# Confidence interval : sample proportion of married and total sample size for married and not married
#dc = dw.groupby(dw.Education).agg({"Marital": [lambda x: np.mean(x=="Married"), np.size]})
#dc.columns = ["Proportion", "Total_n"] # The default column names are unclear, so we replace them here
#display(dc)
#####################################

#calculate the proportion of women who have completed college 

#College
# Confidence interval : sample proportion of college and total sample size for college and no college
dm = dw.groupby(dw.Marital).agg({"Education": [lambda x: np.mean(x=="College"), np.size]})
dm.columns = ["Proportion", "Total_n"] # The default column names are unclear, so we replace them here
display(dm)

             Proportion  Total_n
Marital
Married        0.377551      392
Not_Married    0.205882      306

__Q1a.__ Identify which of the two confidence intervals is wider, and explain why this is the case.

In [14]:
# #standard error married:
# p = dz.Proportion.Married # Married proportion
# n = dz.Total_n.Married # Total number of Married
# se_Married = np.sqrt(p * (1 - p) / n)
# print(se_Married)

# #standard error not married:
# p = dz.Proportion.not_Married # Not married proportion
# n = dz.Total_n.not_Married # Total number of not married
# se_not_Married = np.sqrt(p * (1 - p) / n)
# print(se_not_Married)

__Q1b.__ Write 1-2 sentences summarizing these findings for an audience that does not know what a confidence interval is (the goal here is to report the substance of what you learned about how marital status and educational attainment are related, not to teach a person what a confidence interval is).

In [ ]:
# 95% CI for the proportion of married or not married with college (compare to value above)
sm.stats.proportion_confint(148, 148+63)  #college, samples

In [ ]:
# 95% CI for the proportion of married with college or no college (compare to value above)
#sm.stats.proportion_confint(148, 148+244)  #college, samples

## Question 2

Construct 95% confidence intervals for the proportion of smokers who are female, and for the proportion of smokers who are male.  Then construct a 95% confidence interval for the difference between these proportions.

In [11]:
# enter your code here
ds = da
ds["Smoker"] = ds.SMQ020.replace({1: "Yes", 2: "No", 7: np.nan, 9: np.nan})  # np.nan represents a missing value
ds["Gender"] = ds.RIAGENDR.replace({1: "Male", 2: "Female"})
dx = ds[["Smoker", "Gender"]].dropna()  # dropna drops cases where either variable is missing
pd.crosstab(dx.Smoker, dx.Gender)
dz = dx.groupby(dx.Gender).agg({"Smoker": [lambda x: np.mean(x=="Yes"), np.size]})
dz.columns = ["Proportion", "Total_n"] # The default column names are unclear, so we replace them here
display(dz)

        Proportion  Total_n
Gender
Female    0.304845     2972
Male      0.513258     2753

In [12]:
p = dz.Proportion.Female # Female proportion 
n = dz.Total_n.Female # Total number of females
se_female = np.sqrt(p * (1 - p) / n) #standard devition with proportion => σp = sqrt [ P(1 - P) / n ]
print(se_female)

p = dz.Proportion.Male # Male proportion
n = dz["Total_n"].Male # Total number of males
se_male = np.sqrt(p * (1 - p) / n)
print(se_male)

p = dz.Proportion.Female # Female proportion
n = dz.Total_n.Female # Total number of females
lcb = p - 1.96 * np.sqrt(p * (1 - p) / n)  
ucb = p + 1.96 * np.sqrt(p * (1 - p) / n)  
print(lcb, ucb)

p = dz.Proportion.Male # Male proportion
n = dz.Total_n.Male # Total number of males
lcb = p - 1.96 * np.sqrt(p * (1 - p) / n)  
ucb = p + 1.96 * np.sqrt(p * (1 - p) / n)  
print(lcb, ucb)

0.008444152146214435
0.009526078653689868
0.288294683866098 0.32139576027925865
0.49458714955108174 0.531929377873546

__Q2a.__ Discuss why it may be relevant to report the proportions of smokers who are female and male, and contrast this to reporting the proportions of males and females who smoke.

In [9]:
# 95% CI for the proportion of females who smoke (compare to value above)
sm.stats.proportion_confint(906, 906+2066)  #smoker, samples

(0.2882949879861214, 0.32139545615923526)

__Q2b.__ How does the width of the confidence interval for the difference of the two proportions compare to the widths of the confidence intervals for each proportion separately?

In [10]:
# 95% CI for the proportion of males who smoke (compare to value above)
sm.stats.proportion_confint(1413, 1413+1340)

(0.49458749263718593, 0.5319290347874418)

## Question 3

Construct a 95% interval for height ([BMXHT](https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/BMX_I.htm#BMXHT)) in centimeters.  Then convert height from centimeters to inches by dividing by 2.54, and construct a 95% confidence interval for height in inches.  Finally, convert the endpoints (the lower and upper confidence limits) of the confidence interval from inches to back to centimeters

In [29]:
dh = da
dh['Height_cm'] = dh['BMXHT']
dh['Height_inch'] = round(dh['Height_cm']/2.54,2)
dheight = dh['Height_inch'].dropna() 
cHeight = dheight * 2.54
inch = sm.stats.DescrStatsW(dheight).tconfint_mean()
cm = sm.stats.DescrStatsW(cHeight).tconfint_mean()
print('Inch - Standard error: ',inch)
print('Cm - Standard error:', cm)

Inch - Standard error:  (65.30729759314062, 65.51386228699334)
Cm - Standard error: (165.88053588657718, 166.4052102089631)

In [20]:
dw_1 = da

In [23]:
dw_1 = dw_1[['Height_cm','Height_inch']].dropna() #dropna cleans
pd.crosstab(dw_1.Height_cm,dw_1.Height_inch) 
# creates an Identity Matrix

Height_inch,51.06,53.74,54.09,54.17,54.29,54.49,54.72,54.96,55.08,55.12,...,76.26,76.30,76.50,76.61,76.81,76.93,77.01,78.11,79.13,79.80
Height_cm,,,,,,,,,,,,,,,,,,,,,
129.7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
136.5,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137.4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137.6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137.9,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
195.6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
198.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
201.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
202.7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

__Q3a.__ Describe how the confidence interval constructed in centimeters relates to the confidence interval constructed in inches.

## Question 4

Partition the sample based on 10-year age bands, i.e. the resulting groups will consist of people with ages from 18-28, 29-38, etc. Construct 95% confidence intervals for the difference between the mean BMI for females and for males within each age band.

In [48]:
da["agegrp"] = pd.cut(da.RIDAGEYR, [18, 28, 38, 48, 58, 68, 78, 88])

__Q4a.__ How do the widths of these confidence intervals differ?  Provide an explanation for any substantial diferences in the confidence interval widths that you see.

## Question 5

Construct a 95% confidence interval for the first and second systolic blood pressure measures, and for the difference between the first and second systolic blood pressure measurements within a subject.

In [ ]:
# enter code here

__Q5a.__ Based on these confidence intervals, would you say that a difference of zero between the population mean values of the first and second systolic blood pressure measures is consistent with the data?


__Q5b.__ Discuss how the width of the confidence interval for the within-subject difference compares to the widths of the confidence intervals for the first and second measures.

## Question 6

Construct a 95% confidence interval for the mean difference between the average age of a smoker, and the average age of a non-smoker.

In [ ]:
# insert your code here

__Q6a.__ Use graphical and numerical techniques to compare the variation in the ages of smokers to the variation in the ages of non-smokers.

In [ ]:
# insert your code here

__Q6b.__ Does it appear that uncertainty about the mean age of smokers, or uncertainty about the mean age of non-smokers contributed more to the uncertainty for the mean difference that we are focusing on here?